<app-nav-bar></app-nav-bar>
<ion-content>
    <ion-button class="text" expand=“full” (click)="changetoTextbox()">
        Text</ion-button>
    <ion-button class="pdf" expand=“full” (click)="changetoPdfbox()">
        PDF</ion-button>
    <ion-button class="scan" expand=“full” (click)="changetoScanbox()">
        Scan</ion-button>
    <ion-button class="video" expand=“full” (click)="changetoVideobox()">
        Video</ion-button>
        <ion-card class="text-area" *ngIf="isText && !isPdf && !isScan && !isVideo">
            <ion-item>
                <textarea id="myInput"  placeholder="Enter a text here"></textarea>
              </ion-item>
        </ion-card>
        <ion-card class="upload-area" *ngIf="!isText && isPdf && !isScan && !isVideo">
            <ion-button class="upload-button" expand=“full” color=“secondary” >
                Upload Document</ion-button>
                <span class="drop-text-1">or drop a PDFs here</span>
        </ion-card>
        <ion-card class="upload-area" *ngIf="!isText && !isPdf && isScan && !isVideo">
            
            <ion-fab-button  class="camera-button" expand="block">
                <span class="material-symbols-outlined">
                    add_a_photo
                    </span>
                   

              </ion-fab-button>
              <span class="drop-text-3">Scan a document</span>
        </ion-card>
        <ion-card class="upload-area" *ngIf="!isText && !isPdf && !isScan && isVideo">
            <input type="text" class="video-link" placeholder="Link">
            <ion-button class="video-upload-button" expand=“full” color=“secondary” >
                Upload Video</ion-button>
                <span class="drop-text-2">or drop a Videos here</span>
        </ion-card>
        <ion-button  (click)="routetoQuestionspage()" class="generate-question-button" expand=“full” color=“secondary” >
            Generate Question</ion-button>
</ion-content>