 <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="logo" (click)="homeRoute()"><img src="{{ logo }}" alt="" /></div>
      </ion-title>
      <ion-fab-button id="open-modal" class="profile-button" expand="block">
        <span class="material-symbols-outlined">
          person
          </span>  
      </ion-fab-button>
      <div class="profile-model">
        <ion-modal class="profile-model" #modal trigger="open-modal" [initialBreakpoint]="0.4">
          <ng-template>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
            <div class="profile">

              <div class="profilename">Manya</div>
              <div class="email">manyanaresh1301@gmail.com</div>
              <ion-button class="logout" expand=“full” color=“secondary” >
                Logout</ion-button>
                <ion-button class="my-documents-button" expand=“full” color=“secondary” >
                  My Documents</ion-button>
            </div>
  
          </ng-template>
        </ion-modal>
      </div>
    </ion-toolbar> 
  </ion-header>  

 